version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - WORK_DIR=/tmp/migrations
      - PYTHONUNBUFFERED=1
    volumes:
      - ./java-migration-backend:/app:delegated

networks:
  default:
    name: java-migration-net

